//
// Copyright 2006, 2008-2009 Citrix Systems, Inc.  All Rights Reserved.
//
// This file contains additional build setting to be used by the debug versions. 
//

COPY_PHASE_STRIP = NO
ZERO_LINK = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_DYNAMIC_NO_PIC = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
DEBUG_INFORMATION_FORMAT_ppc = stabs
DEBUG_INFORMATION_FORMAT_i386 = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT = $(DEBUG_INFORMATION_FORMAT_$(CURRENT_ARCH))
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(PROJECT_DEFINITIONS) $(TRACE_DEFINITIONS)
