//
// Copyright 2006, 2008-2009 Citrix Systems, Inc.  All Rights Reserved.
//
// This file the build settings for a release version of the plugin. It should not be
// modified; all changes should be done in _ProductSettings.xcconfig.
//

#include "../Build Settings/_PlugInSettings.xcconfig"
#include "../Build Settings/_ReleaseSettings.xcconfig"

#include "_ProductSettings.xcconfig"
